<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SecureVault.styles.css" asp-append-version="true" />
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Secure Vault</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a b-gm7g00mt99 class="nav-link active" asp-controller="Home" asp-action="Index">Главная</a>
                    <a b-gm7g00mt99 class="nav-link active" asp-controller="Account" asp-action="Profile">Профель</a>
                    <a b-gm7g00mt99 class="nav-link active" asp-controller="CreditCard" asp-action="Index">Банковские карты</a>
                    @{
                        if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <a b-gm7g00mt99 class="nav-link active" asp-controller="Account" asp-action="Logout">Выход</a>
                        }
                        else
                        {
                            <a b-gm7g00mt99 class="nav-link active" asp-controller="Account" asp-action="Login">Вход</a>
                        }
                    }
                </nav>
            </div>
        </header>

        <main role="main" class="px-3">
            @RenderBody()
        </main>

        <footer class="mt-auto text-white-50">
            <p>
                &copy; 2024 - Secure Vault - <a b-gm7g00mt99 class="text-white" asp-controller="Home" asp-action="Privacy">Конфиденциальность</a>
            </p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
