@{
    ViewData["Title"] = "Сменить пароль";
}

@model ForgotPasswordViewModel

<div class="py-5 text-center">
    <h2>Сменить пароль</h2>
    <p>
        Отправить ссылку для смены пароля на ваш E-mail?
    </p>
</div>

<div class="row" align="left">
    <div class="col">
        <form class="needs-validation" method="post" asp-action="ForgotPassword" asp-controller="Account" asp-antiforgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="row g-3">
                <div class="col-12">
                    <label asp-for="Email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="you@example.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <hr class="my-4">

            <button class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit">Отправить</button>
        </form>
    </div>
</div>