@{
    ViewData["Title"] = "Подтверждение Email";
}

<div class="py-5 text-center">
    <h4>Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме</h4>
</div>