@{
    ViewData["Title"] = "Сбросить пароль";
}

<div class="py-5 text-center">
    <h2>Сбросить пароль</h2>
    <p>
        Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
    </p>
</div>