@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<div class="py-5 text-center">
    <h2>Подтверждение сброса пароля</h2>
    <p>
        Ваш пароль сброшен. Для входа в приложение перейдите по <a b-gm7g00mt99 class="text-whiteB" asp-action="Login" asp-controller="Account">ссылке</a>.
    </p>
</div>