@{
    ViewData["Title"] = "Банковская карта";
}

@model CreditCardViewModel

<div class="py-5 text-center">
    <h2>Банковская карта</h2>
    <p class="lead">Здесь вы можете добавить новую банковскую карты.</p>
</div>

<div class="row" align="left">
    <div class="col">
        <form class="needs-validation" name="forma" method="post" asp-action="Create" asp-controller="CreditCard" asp-antiforgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="row gy-3">
                <div class="col-md-6">
                    <label asp-for="Name" class="form-label">Название карты</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="НАЗВАНИЕ">
                </div>
            </div>

            <div class="my-3">
                @foreach (var cardType in Model.CardTypes)
                {
                    <div class="form-check">
                        <input asp-for="CardType" type="radio" class="form-check-input" value="@cardType">
                        <label class="form-check-label" asp-for="CardType">@cardType карта</label>
                    </div>
                }
            </div>

            <div class="row gy-3">
                <div class="col-md-6">
                    <label asp-for="CcName" name="CcName" class="form-label">Имя на карте</label>
                    <input type="text" class="form-control" asp-for="CcName" placeholder="ИМЯ ФАМИЛИЯ">
                    <small class="text-body-secondary">Полное имя, указанное на карточке</small>
                </div>

                <div class="col-md-6">
                    <label asp-for="CcNumber" name="CcNumber" class="form-label">Номер банковской карты</label>
                    <input type="text" class="form-control" asp-for="CcNumber" placeholder="0000 1111 2222 3333">
                </div>

                <div class="col-md-3">
                    <label asp-for="CcExpiration" name="CcExpiration" class="form-label">Срок действия</label>
                    <input type="text" class="form-control" asp-for="CcExpiration" placeholder="01/24">
                </div>

                <div class="col-md-3">
                    <label asp-for="CVV" name="CVV"  class="form-label">CVV</label>
                    <input type="text" class="form-control" asp-for="CVV" placeholder="123">
                </div>
            </div>

            <hr class="my-4">

            <button class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit">Сохранить</button>
        </form>
    </div>
</div>

<script src="~/js/inputFormat.js" asp-append-version="true"></script>