@{
    ViewData["Title"] = "Пароль";
}

@model PasswordViewModel

<div class="py-5 text-center">
    <h2>Пароль</h2>
</div>

<div class="row" align="left">
    <div class="col">
        <form class="needs-validation" method="post" asp-action="Password" asp-controller="CreditCard" asp-antiforgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="row g-3">
                <div class="col-12">
                    <label asp-for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" asp-for="password">
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>

            <hr class="my-4">

            <button class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit">Подтвердить</button>
        </form>
    </div>
</div>
